# HW

Мои Фамилия Имя: Кормашов Кирилл

In [2]:
import numpy as np
import pandas as pd

##### Загрузите датасет titanic.csv

In [3]:
df_titanic = pd.read_csv('titanic.csv')

In [4]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df_titanic.shape

(891, 12)

In [6]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

> Обратите внимание на разное количество значений переменных
Если это так - то у вас пропуски в данных. Такое бывает. 
Например в этом датасете не получилось выяснить всех подробностей у некоторых людей в виду утери данных, невозможности узнать или восстановить их

In [7]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

> Давайте возьмем для начала только несколько признаков, позже - вы увеличите их количество и сделаете соответствующую обработку.

In [8]:
columns = ['Sex', 'Age', 'Pclass', 'Survived', 'Cabin', 'Fare', 'Embarked']

In [9]:
simple_train = df_titanic[columns].loc[:500]
simple_test = df_titanic[columns].loc[500:]

> мы пока не умеем на уровне алгоритма работать с пропущенными значениями. 
Представьте вам дают 5-мерный вектор у которого заполнены только три компоненты и другой такой же вектор но у него заполнены лишь две  компоненты.  Как померить их сходство????

distance_between( [1,0,1, NaN, NaN], [NaN, 1, 1, NaN, NaN] )

> один из вариантов - заполнить какими то значениями - например если это возраст - то заполнить средним по датасету или нулем.

>> на будущее - в sklearn есть такой модуль - http://scikit-learn.org/stable/modules/impute.html но сейчас можете заполнить пропуски средствами pandas - метод fillna()

##### Заполните пропущенные значения чем нибудь

In [10]:
simple_train.Age = simple_train.Age.fillna(np.mean(simple_train['Age']))
simple_test.Age = simple_test.Age.fillna(np.mean(simple_test['Age']))
#simple_train.Cabin = simple_test.Cabin.fillna(0)
simple_train.Cabin = simple_train.Cabin.replace(np.nan, 'H')
simple_test.Cabin = simple_test.Cabin.replace(np.nan, 'H')
simple_train.Embarked = simple_train.Embarked.replace(np.nan, 'A')
simple_test.Embarked = simple_test.Embarked.replace(np.nan, 'A')

# можно inplace делать такое, а можно переприсваивать.

In [11]:
simple_train

        Sex        Age  Pclass  Survived        Cabin      Fare Embarked
0      male  22.000000       3         0            H    7.2500        S
1    female  38.000000       1         1          C85   71.2833        C
2    female  26.000000       3         1            H    7.9250        S
3    female  35.000000       1         1         C123   53.1000        S
4      male  35.000000       3         0            H    8.0500        S
5      male  29.174185       3         0            H    8.4583        Q
6      male  54.000000       1         0          E46   51.8625        S
7      male   2.000000       3         0            H   21.0750        S
8    female  27.000000       3         1            H   11.1333        S
9    female  14.000000       2         1            H   30.0708        C
10   female   4.000000       3         1           G6   16.7000        S
11   female  58.000000       1         1         C103   26.5500        S
12     male  20.000000       3         0            H    8.0500        S
13     male  39.000000       3         0            H   31.2750        S
14   female  14.000000       3         0            H    7.8542        S
15   female  55.000000       2         1            H   16.0000        S
16     male   2.000000       3         0            H   29.1250        Q
17     male  29.174185       2         1            H   13.0000        S
18   female  31.000000       3         0            H   18.0000        S
19   female  29.174185       3         1            H    7.2250        C
20     male  35.000000       2         0            H   26.0000        S
21     male  34.000000       2         1          D56   13.0000        S
22   female  15.000000       3         1            H    8.0292        Q
23     male  28.000000       1         1           A6   35.5000        S
24   female   8.000000       3         0            H   21.0750        S
25   female  38.000000       3         1            H   31.3875        S
26     male  29.174185       3         0            H    7.2250        C
27     male  19.000000       1         0  C23 C25 C27  263.0000        S
28   female  29.174185       3         1            H    7.8792        Q
29     male  29.174185       3         0            H    7.8958        S
..      ...        ...     ...       ...          ...       ...      ...
471    male  38.000000       3         0            H    8.6625        S
472  female  33.000000       2         1            H   27.7500        S
473  female  23.000000       2         1            D   13.7917        C
474  female  22.000000       3         0            H    9.8375        S
475    male  29.174185       1         0          A14   52.0000        S
476    male  34.000000       2         0            H   21.0000        S
477    male  29.000000       3         0            H    7.0458        S
478    male  22.000000       3         0            H    7.5208        S
479  female   2.000000       3         1            H   12.2875        S
480    male   9.000000       3         0            H   46.9000        S
481    male  29.174185       2         0            H    0.0000        S
482    male  50.000000       3         0            H    8.0500        S
483  female  63.000000       3         1            H    9.5875        S
484    male  25.000000       1         1          B49   91.0792        C
485  female  29.174185       3         0            H   25.4667        S
486  female  35.000000       1         1          C93   90.0000        S
487    male  58.000000       1         0          B37   29.7000        C
488    male  30.000000       3         0            H    8.0500        S
489    male   9.000000       3         1            H   15.9000        S
490    male  29.174185       3         0            H   19.9667        S
491    male  21.000000       3         0            H    7.2500        S
492    male  55.000000       1         0          C30   30.5000        S
493    male  71.000000       1         0            H   49.5042        C
494    male  21.000000       3         0            H    8.0500        S
495    male  29.174185       3         0            H   14.4583        C
496  female  54.000000       1         1          D20   78.2667        C
497    male  29.174185       3         0            H   15.1000        S
498  female  25.000000       1         0      C22 C26  151.5500        S
499    male  24.000000       3         0            H    7.7958        S
500    male  17.000000       3         0            H    8.6625        S

[501 rows x 7 columns]

> мы чемпионы. Но мы понимаем, что алгоритм у нас метрический - он не понимает как померить близость векторов в которых содержатся строки

distance( [1,1,0,'мужик'], [1, 0, 1, 'принцесска'] )

> поэтому давайте заведем признак is_man который будет принимать значение 0 или 1.

##### Заведите бинарный признак отвечающий за пол. Строковый удалите

хинт - есть метод apply()

In [12]:
simple_train.Embarked = simple_train.Embarked.apply(lambda x: ord(x))
simple_test.Embarked = simple_test.Embarked.apply(lambda x: ord(x))
simple_test

        Sex        Age  Pclass  Survived        Cabin      Fare  Embarked
500    male  17.000000       3         0            H    8.6625        83
501  female  21.000000       3         0            H    7.7500        81
502  female  30.321741       3         0            H    7.6292        81
503  female  37.000000       3         0            H    9.5875        83
504  female  16.000000       1         1          B79   86.5000        83
505    male  18.000000       1         0          C65  108.9000        67
506  female  33.000000       2         1            H   26.0000        83
507    male  30.321741       1         1            H   26.5500        83
508    male  28.000000       3         0            H   22.5250        83
509    male  26.000000       3         1            H   56.4958        83
510    male  29.000000       3         1            H    7.7500        81
511    male  30.321741       3         0            H    8.0500        83
512    male  36.000000       1         1          E25   26.2875        83
513  female  54.000000       1         1            H   59.4000        67
514    male  24.000000       3         0            H    7.4958        83
515    male  47.000000       1         0          D46   34.0208        83
516  female  34.000000       2         1          F33   10.5000        83
517    male  30.321741       3         0            H   24.1500        81
518  female  36.000000       2         1            H   26.0000        83
519    male  32.000000       3         0            H    7.8958        83
520  female  30.000000       1         1          B73   93.5000        83
521    male  22.000000       3         0            H    7.8958        83
522    male  30.321741       3         0            H    7.2250        67
523  female  44.000000       1         1          B18   57.9792        67
524    male  30.321741       3         0            H    7.2292        67
525    male  40.500000       3         0            H    7.7500        81
526  female  50.000000       2         1            H   10.5000        83
527    male  30.321741       1         0          C95  221.7792        83
528    male  39.000000       3         0            H    7.9250        83
529    male  23.000000       2         0            H   11.5000        83
..      ...        ...     ...       ...          ...       ...       ...
861    male  21.000000       2         0            H   11.5000        83
862  female  48.000000       1         1          D17   25.9292        83
863  female  30.321741       3         0            H   69.5500        83
864    male  24.000000       2         0            H   13.0000        83
865  female  42.000000       2         1            H   13.0000        83
866  female  27.000000       2         1            H   13.8583        67
867    male  31.000000       1         0          A24   50.4958        83
868    male  30.321741       3         0            H    9.5000        83
869    male   4.000000       3         1            H   11.1333        83
870    male  26.000000       3         0            H    7.8958        83
871  female  47.000000       1         1          D35   52.5542        83
872    male  33.000000       1         0  B51 B53 B55    5.0000        83
873    male  47.000000       3         0            H    9.0000        83
874  female  28.000000       2         1            H   24.0000        67
875  female  15.000000       3         1            H    7.2250        67
876    male  20.000000       3         0            H    9.8458        83
877    male  19.000000       3         0            H    7.8958        83
878    male  30.321741       3         0            H    7.8958        83
879  female  56.000000       1         1          C50   83.1583        67
880  female  25.000000       2         1            H   26.0000        83
881    male  33.000000       3         0            H    7.8958        83
882  female  22.000000       3         0            H   10.5167        83
883    male  28.000000       2         0            H   10.5000        83
884    male  25.000000       3         0            H    7.0500        83
885  female  39.000000       3         0            H   29.1250        81
886    male  27.000000       2         0            H   13.0000        83
887  female  19.000000       1         1          B42   30.0000        83
888  female  30.321741       3         0            H   23.4500        83
889    male  26.000000       1         1         C148   30.0000        67
890    male  32.000000       3         0            H    7.7500        81

[391 rows x 7 columns]

In [13]:
simple_train.Cabin = simple_train.Cabin.apply(lambda x: ord(x[0]))
simple_test.Cabin = simple_test.Cabin.apply(lambda x: ord(x[0]))
simple_test

        Sex        Age  Pclass  Survived  Cabin      Fare  Embarked
500    male  17.000000       3         0     72    8.6625        83
501  female  21.000000       3         0     72    7.7500        81
502  female  30.321741       3         0     72    7.6292        81
503  female  37.000000       3         0     72    9.5875        83
504  female  16.000000       1         1     66   86.5000        83
505    male  18.000000       1         0     67  108.9000        67
506  female  33.000000       2         1     72   26.0000        83
507    male  30.321741       1         1     72   26.5500        83
508    male  28.000000       3         0     72   22.5250        83
509    male  26.000000       3         1     72   56.4958        83
510    male  29.000000       3         1     72    7.7500        81
511    male  30.321741       3         0     72    8.0500        83
512    male  36.000000       1         1     69   26.2875        83
513  female  54.000000       1         1     72   59.4000        67
514    male  24.000000       3         0     72    7.4958        83
515    male  47.000000       1         0     68   34.0208        83
516  female  34.000000       2         1     70   10.5000        83
517    male  30.321741       3         0     72   24.1500        81
518  female  36.000000       2         1     72   26.0000        83
519    male  32.000000       3         0     72    7.8958        83
520  female  30.000000       1         1     66   93.5000        83
521    male  22.000000       3         0     72    7.8958        83
522    male  30.321741       3         0     72    7.2250        67
523  female  44.000000       1         1     66   57.9792        67
524    male  30.321741       3         0     72    7.2292        67
525    male  40.500000       3         0     72    7.7500        81
526  female  50.000000       2         1     72   10.5000        83
527    male  30.321741       1         0     67  221.7792        83
528    male  39.000000       3         0     72    7.9250        83
529    male  23.000000       2         0     72   11.5000        83
..      ...        ...     ...       ...    ...       ...       ...
861    male  21.000000       2         0     72   11.5000        83
862  female  48.000000       1         1     68   25.9292        83
863  female  30.321741       3         0     72   69.5500        83
864    male  24.000000       2         0     72   13.0000        83
865  female  42.000000       2         1     72   13.0000        83
866  female  27.000000       2         1     72   13.8583        67
867    male  31.000000       1         0     65   50.4958        83
868    male  30.321741       3         0     72    9.5000        83
869    male   4.000000       3         1     72   11.1333        83
870    male  26.000000       3         0     72    7.8958        83
871  female  47.000000       1         1     68   52.5542        83
872    male  33.000000       1         0     66    5.0000        83
873    male  47.000000       3         0     72    9.0000        83
874  female  28.000000       2         1     72   24.0000        67
875  female  15.000000       3         1     72    7.2250        67
876    male  20.000000       3         0     72    9.8458        83
877    male  19.000000       3         0     72    7.8958        83
878    male  30.321741       3         0     72    7.8958        83
879  female  56.000000       1         1     67   83.1583        67
880  female  25.000000       2         1     72   26.0000        83
881    male  33.000000       3         0     72    7.8958        83
882  female  22.000000       3         0     72   10.5167        83
883    male  28.000000       2         0     72   10.5000        83
884    male  25.000000       3         0     72    7.0500        83
885  female  39.000000       3         0     72   29.1250        81
886    male  27.000000       2         0     72   13.0000        83
887  female  19.000000       1         1     66   30.0000        83
888  female  30.321741       3         0     72   23.4500        83
889    male  26.000000       1         1     67   30.0000        67
890    male  32.000000       3         0     72    7.7500        81

[391 rows x 7 columns]

In [14]:
#simple_train.Sex = simple_train.Sex.replace(['male','female'],[1,0])
simple_train.Sex = simple_train.Sex.apply(lambda x : 1 if x == 'male' else 0)
simple_test.Sex = simple_test.Sex.apply(lambda x : 1 if x == 'male' else 0)
simple_train

     Sex        Age  Pclass  Survived  Cabin      Fare  Embarked
0      1  22.000000       3         0     72    7.2500        83
1      0  38.000000       1         1     67   71.2833        67
2      0  26.000000       3         1     72    7.9250        83
3      0  35.000000       1         1     67   53.1000        83
4      1  35.000000       3         0     72    8.0500        83
5      1  29.174185       3         0     72    8.4583        81
6      1  54.000000       1         0     69   51.8625        83
7      1   2.000000       3         0     72   21.0750        83
8      0  27.000000       3         1     72   11.1333        83
9      0  14.000000       2         1     72   30.0708        67
10     0   4.000000       3         1     71   16.7000        83
11     0  58.000000       1         1     67   26.5500        83
12     1  20.000000       3         0     72    8.0500        83
13     1  39.000000       3         0     72   31.2750        83
14     0  14.000000       3         0     72    7.8542        83
15     0  55.000000       2         1     72   16.0000        83
16     1   2.000000       3         0     72   29.1250        81
17     1  29.174185       2         1     72   13.0000        83
18     0  31.000000       3         0     72   18.0000        83
19     0  29.174185       3         1     72    7.2250        67
20     1  35.000000       2         0     72   26.0000        83
21     1  34.000000       2         1     68   13.0000        83
22     0  15.000000       3         1     72    8.0292        81
23     1  28.000000       1         1     65   35.5000        83
24     0   8.000000       3         0     72   21.0750        83
25     0  38.000000       3         1     72   31.3875        83
26     1  29.174185       3         0     72    7.2250        67
27     1  19.000000       1         0     67  263.0000        83
28     0  29.174185       3         1     72    7.8792        81
29     1  29.174185       3         0     72    7.8958        83
..   ...        ...     ...       ...    ...       ...       ...
471    1  38.000000       3         0     72    8.6625        83
472    0  33.000000       2         1     72   27.7500        83
473    0  23.000000       2         1     68   13.7917        67
474    0  22.000000       3         0     72    9.8375        83
475    1  29.174185       1         0     65   52.0000        83
476    1  34.000000       2         0     72   21.0000        83
477    1  29.000000       3         0     72    7.0458        83
478    1  22.000000       3         0     72    7.5208        83
479    0   2.000000       3         1     72   12.2875        83
480    1   9.000000       3         0     72   46.9000        83
481    1  29.174185       2         0     72    0.0000        83
482    1  50.000000       3         0     72    8.0500        83
483    0  63.000000       3         1     72    9.5875        83
484    1  25.000000       1         1     66   91.0792        67
485    0  29.174185       3         0     72   25.4667        83
486    0  35.000000       1         1     67   90.0000        83
487    1  58.000000       1         0     66   29.7000        67
488    1  30.000000       3         0     72    8.0500        83
489    1   9.000000       3         1     72   15.9000        83
490    1  29.174185       3         0     72   19.9667        83
491    1  21.000000       3         0     72    7.2500        83
492    1  55.000000       1         0     67   30.5000        83
493    1  71.000000       1         0     72   49.5042        67
494    1  21.000000       3         0     72    8.0500        83
495    1  29.174185       3         0     72   14.4583        67
496    0  54.000000       1         1     68   78.2667        67
497    1  29.174185       3         0     72   15.1000        83
498    0  25.000000       1         0     67  151.5500        83
499    1  24.000000       3         0     72    7.7958        83
500    1  17.000000       3         0     72    8.6625        83

[501 rows x 7 columns]

In [15]:
max_ = simple_train.max(axis=0)
min_ = simple_train.min(axis=0)
simple_train = (simple_train - min_) / (max_ - min_)

max_ = simple_test.max(axis=0)
min_ = simple_test.min(axis=0)
simple_test = (simple_test - min_) / (max_ - min_)
simple_test

     Sex       Age  Pclass  Survived     Cabin      Fare  Embarked
500  1.0  0.208344     1.0       0.0  1.000000  0.016908  1.000000
501  0.0  0.258608     1.0       0.0  1.000000  0.015127  0.888889
502  0.0  0.375744     1.0       0.0  1.000000  0.014891  0.888889
503  0.0  0.459663     1.0       0.0  1.000000  0.018714  1.000000
504  0.0  0.195778     0.0       1.0  0.142857  0.168837  1.000000
505  1.0  0.220910     0.0       0.0  0.285714  0.212559  0.111111
506  0.0  0.409399     0.5       1.0  1.000000  0.050749  1.000000
507  1.0  0.375744     0.0       1.0  1.000000  0.051822  1.000000
508  1.0  0.346569     1.0       0.0  1.000000  0.043966  1.000000
509  1.0  0.321438     1.0       1.0  1.000000  0.110272  1.000000
510  1.0  0.359135     1.0       1.0  1.000000  0.015127  0.888889
511  1.0  0.375744     1.0       0.0  1.000000  0.015713  1.000000
512  1.0  0.447097     0.0       1.0  0.571429  0.051310  1.000000
513  0.0  0.673285     0.0       1.0  1.000000  0.115941  0.111111
514  1.0  0.296306     1.0       0.0  1.000000  0.014631  1.000000
515  1.0  0.585323     0.0       0.0  0.428571  0.066404  1.000000
516  0.0  0.421965     0.5       1.0  0.714286  0.020495  1.000000
517  1.0  0.375744     1.0       0.0  1.000000  0.047138  0.888889
518  0.0  0.447097     0.5       1.0  1.000000  0.050749  1.000000
519  1.0  0.396833     1.0       0.0  1.000000  0.015412  1.000000
520  0.0  0.371701     0.0       1.0  0.142857  0.182500  1.000000
521  1.0  0.271174     1.0       0.0  1.000000  0.015412  1.000000
522  1.0  0.375744     1.0       0.0  1.000000  0.014102  0.111111
523  0.0  0.547625     0.0       1.0  0.142857  0.113168  0.111111
524  1.0  0.375744     1.0       0.0  1.000000  0.014110  0.111111
525  1.0  0.503644     1.0       0.0  1.000000  0.015127  0.888889
526  0.0  0.623021     0.5       1.0  1.000000  0.020495  1.000000
527  1.0  0.375744     0.0       0.0  0.285714  0.432884  1.000000
528  1.0  0.484795     1.0       0.0  1.000000  0.015469  1.000000
529  1.0  0.283740     0.5       0.0  1.000000  0.022447  1.000000
..   ...       ...     ...       ...       ...       ...       ...
861  1.0  0.258608     0.5       0.0  1.000000  0.022447  1.000000
862  0.0  0.597889     0.0       1.0  0.428571  0.050610  1.000000
863  0.0  0.375744     1.0       0.0  1.000000  0.135753  1.000000
864  1.0  0.296306     0.5       0.0  1.000000  0.025374  1.000000
865  0.0  0.522493     0.5       1.0  1.000000  0.025374  1.000000
866  0.0  0.334004     0.5       1.0  1.000000  0.027050  0.111111
867  1.0  0.384267     0.0       0.0  0.000000  0.098561  1.000000
868  1.0  0.375744     1.0       0.0  1.000000  0.018543  1.000000
869  1.0  0.044986     1.0       1.0  1.000000  0.021731  1.000000
870  1.0  0.321438     1.0       0.0  1.000000  0.015412  1.000000
871  0.0  0.585323     0.0       1.0  0.428571  0.102579  1.000000
872  1.0  0.409399     0.0       0.0  0.142857  0.009759  1.000000
873  1.0  0.585323     1.0       0.0  1.000000  0.017567  1.000000
874  0.0  0.346569     0.5       1.0  1.000000  0.046845  0.111111
875  0.0  0.183212     1.0       1.0  1.000000  0.014102  0.111111
876  1.0  0.246042     1.0       0.0  1.000000  0.019218  1.000000
877  1.0  0.233476     1.0       0.0  1.000000  0.015412  1.000000
878  1.0  0.375744     1.0       0.0  1.000000  0.015412  1.000000
879  0.0  0.698417     0.0       1.0  0.285714  0.162314  0.111111
880  0.0  0.308872     0.5       1.0  1.000000  0.050749  1.000000
881  1.0  0.409399     1.0       0.0  1.000000  0.015412  1.000000
882  0.0  0.271174     1.0       0.0  1.000000  0.020527  1.000000
883  1.0  0.346569     0.5       0.0  1.000000  0.020495  1.000000
884  1.0  0.308872     1.0       0.0  1.000000  0.013761  1.000000
885  0.0  0.484795     1.0       0.0  1.000000  0.056848  0.888889
886  1.0  0.334004     0.5       0.0  1.000000  0.025374  1.000000
887  0.0  0.233476     0.0       1.0  0.142857  0.058556  1.000000
888  0.0  0.375744     1.0       0.0  1.000000  0.045771  1.000000
889  1.0  0.321438     0.0       1.0  0.285714  0.058556  0.111111
890  1.0  0.396833     1.0       0.0  1.000000  0.015127  0.888889

[391 rows x 7 columns]

Сформируйте трейн и тест выборку, где в X лежат признаки 'Sex', 'Age', 'Pclass', а в у - Survived

Результат - numpy array

hint - у pandas есть метод drop() и атрибут values; Пощупайте их

In [16]:
colx = ['Sex', 'Age', 'Pclass']
coly = ['Survived']

In [17]:
#X_train = np.array(simple_train[colx])
#X_test = np.array(simple_test[colx])
#y_train = np.array(simple_train[coly])
#y_test = np.array(simple_test[coly])
#X_test
X_train = simple_train.drop(columns='Survived').values
X_test = simple_test.drop(columns='Survived').values
y_train = simple_train['Survived'].values
y_test = simple_test['Survived'].values
X_test

array([[1.        , 0.2083438 , 1.        , 1.        , 0.01690807,
        1.        ],
       [0.        , 0.25860769, 1.        , 1.        , 0.01512699,
        0.88888889],
       [0.        , 0.37574441, 1.        , 1.        , 0.01489121,
        0.88888889],
       ...,
       [0.        , 0.37574441, 1.        , 1.        , 0.04577135,
        1.        ],
       [1.        , 0.32143755, 0.        , 0.28571429, 0.0585561 ,
        0.11111111],
       [1.        , 0.39683338, 1.        , 1.        , 0.01512699,
        0.88888889]])

In [18]:
assert isinstance(X_train, np.ndarray)
assert isinstance(X_test, np.ndarray)
assert isinstance(y_train, np.ndarray)
assert isinstance(y_test, np.ndarray)

In [19]:
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0]

In [20]:
assert not np.any(np.isnan(X_train)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'
assert not np.any(np.isnan(X_test)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'

##### Реализуйте KNN. Сами, как делали это на лекции. 

Можете улучшить его.
(например использовать kd-tree для быстрого поиска ближайших соседей, 
 или обходить соседей и класть расстояния в мин-кучу - тогда вы быстрее будете набирать их, без сортировки.)

In [21]:
class KNN:
    """
    simple KNN classifier with O(n) complexity for memory,
    and O(n log n) complexity - for nn search.
    """
    
    def __init__(self, n):
        self.n = n
       
    
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    
    def predict(self, X):
        y_hat = []
        assert len(X.shape) == 2
        for obj in X:
            dist = 0.
            for i, val in enumerate(obj):
                dist += (self.X[:, i] - val)**2
            dist = np.sqrt(dist)
            idx = np.argsort(dist)[:self.n]
            counts = np.bincount(self.y[idx].astype(int))
            prediction = np.argmax(counts)
            y_hat.append(prediction)

        return np.array(y_hat)

In [22]:
knn = KNN(5)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
knn

##### посчитайте руками (не используя sklearn) качество вашего предсказания

In [23]:
acc = np.mean(y_pred == y_test)
print('доля правильных ответов:', acc)

доля правильных ответов: 0.7621483375959079

In [24]:
np.unique(y_pred)

array([0, 1])

> Мы получили бейслайн решение. Оно должно давать скорр в районе 0.76

____

In [25]:
### можете проверить себя

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7621483375959079

In [26]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf=KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

np.unique(y_pred)

print(accuracy_score(y_test, y_pred))

0.7621483375959079

##### TODO продолжение домашки

1) Добавьте еще признаков. Как минимум хочется чтобы вы добавили в X такие признаки как Cabin, Fare и Embarked.

2) Предобработайте признаки для нашего алгоритма. Поминим - что он (метрический) основан на том, что мы будем считать расстояния. 
Для этого нужно подготовить данные соответственно - привести к одному масштабу и проч. 
(https://sebastianraschka.com/Articles/2014_about_feature_scaling.html#about-standardization)

Когда мы делаем такие преобразования - хочется чтобы знания и любая статистика о тесте не проникали в обучение - 
иначе будет проблема data leakage, а она в свою очередь приведет к переобучению.

Поэтому аккуратно делим на трейн-тест (можно на трейн-валидацию-тест) считаем статистики на обучающей части и применяем их к тестовой.


3) Дальше. Признаки с пропусками - вы знаете что делать. Нужно проявить фантазию и погуглить как их правильно заполнять.

4) Признаки бывают непрерывными и категориальными. К категориальным признакам можно отнести например строки, тип палубы и прочее.
Как их предобрабатывать - зависит от алгоритма. 
Самый простой способ, что сделать с категориальными признаками - представить в виде dummy признаков - так называемый one hot encoding.

4) признак Cabin мб может помочь, но нужно проявить фантазию и вытащить что нибудь полезное.
Например - вытащить оттуда тип палубы.

5) Попробуйте разбить данные на три части (трейн-валидацию-тест) и подобрать гиперпараметр - число ближайших соседей. 
Как вариант можно выбирать на валидации алгоритм который дал наилучший скорр, а затем посмотреть его качество на тесте.

6) советоваться друг с другом можно. Списывать нельзя. Читайте треды kaggle. Спрашивайте преподавателей! Запилите крутые фичи!

In [27]:
#параметры добавил в самом начале

In [28]:
### поиск лучшего скора

In [42]:
import numpy as np

In [46]:
test = np.zeros(30)
for i in range(1,31):
    knn = KNN(i)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    acc = np.mean(y_pred == y_test)
    np.put(test,i-1,acc)
    print('{: f} при  n = {: d}'.format(test[i-1],i))
index  = np.argmax(test)
print('Лучший скорр при n = {: d} и он равен {: f}'.format(index+1,test[index]))

 0.746803 при  n =  1
 0.764706 при  n =  2
 0.777494 при  n =  3
 0.769821 при  n =  4
 0.762148 при  n =  5
 0.782609 при  n =  6
 0.787724 при  n =  7
 0.797954 при  n =  8
 0.790281 при  n =  9
 0.805627 при  n =  10
 0.797954 при  n =  11
 0.805627 при  n =  12
 0.795396 при  n =  13
 0.803069 при  n =  14
 0.797954 при  n =  15
 0.797954 при  n =  16
 0.790281 при  n =  17
 0.803069 при  n =  18
 0.805627 при  n =  19
 0.808184 при  n =  20
 0.803069 при  n =  21
 0.808184 при  n =  22
 0.805627 при  n =  23
 0.805627 при  n =  24
 0.800512 при  n =  25
 0.800512 при  n =  26
 0.805627 при  n =  27
 0.803069 при  n =  28
 0.805627 при  n =  29
 0.805627 при  n =  30
Лучший скорр при n =  20 и он равен  0.808184